/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * Removed require_tree .
 *

 */
/* line 18, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/application.css.scss */
body {
  -webkit-font-smoothing: antialiased;
}

/* line 4, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 77, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 97, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 109, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 117, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 126, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 135, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 144, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 153, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 161, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 169, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
sup {
  top: -0.5em;
}

/* line 173, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 184, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 192, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 203, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 211, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 357, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 370, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 379, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 390, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 399, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 408, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 419, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 424, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/normalize.css */
td,
th {
  padding: 0;
}

/* line 15, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
html {
  height: 100%;
}

/* line 18, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
body {
  height: 100%;
  margin: 0;
  font-family: "Droid Sans", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -webkit-linear-gradient(#226AA9, #549ddd) left no-repeat;
  background: linear-gradient(#226AA9, #549ddd) left no-repeat;
}

/* line 27, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.show-container {
  background: -webkit-linear-gradient(#226AA9, #549ddd) left no-repeat;
  background: linear-gradient(#226AA9, #549ddd) left no-repeat;
}

/* line 31, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
header {
  text-align: center;
  color: #fff;
  font-family: "Archivo Black", sans-serif;
}

/* line 37, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
h1 {
  font-size: 3em;
}
/* line 41, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
h1 a {
  text-decoration: none;
  color: #fff;
}
/* line 46, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
h1 a:visited {
  text-decoration: none;
  color: #fff;
}

/* line 55, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.parallax-window {
  margin-top: 1em;
  padding: 10em 0 50em 0;
  max-height: 30em;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
/* line 64, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.parallax-window h1 {
  font-size: 5em;
  margin: 0;
  background-color: rgba(239, 0, 0, 0.75);
  font-family: "Archivo Black", sans-serif;
}

/* line 74, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.parallax-static-content {
  color: #fff;
  padding: 8em 0;
  position: relative;
  z-index: 9;
}

/* line 83, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.parallax-background {
  background: url("city_hall.jpg") repeat;
  background-position: top;
  background-size: cover;
  background-color: #226AA9;
  height: 60em;
  left: 0;
  position: absolute;
  top: -10em;
  width: 100%;
}

/* line 105, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
h2 {
  margin-top: 0;
  padding-top: 1em;
  text-align: center;
  font-size: 3em;
  color: #fff;
}

/* line 113, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero {
  font-size: 1.5em;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("city_hall.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("city_hall.jpg");
  background-color: #324766;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
}
/* line 136, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero .hero-logo img {
  height: 4em;
  margin-bottom: 1em;
}
/* line 141, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero .hero-inner {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin: auto;
  padding: 5em 10em 10em 10em;
  text-align: center;
}
/* line 20, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/addons/_clearfix.scss */
.hero .hero-inner::after {
  clear: both;
  content: "";
  display: table;
}
/* line 20, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/addons/_clearfix.scss */
.hero .hero-inner::after {
  clear: both;
  content: "";
  display: table;
}
/* line 149, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero .hero-inner label {
  font-size: 1.5em;
}
/* line 152, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero .hero-inner input[type="text"] {
  background-color: #113554;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 1em;
  color: #fff;
  display: block;
  text-align: center;
  margin: 0 auto;
}
/* line 164, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero .hero-inner input[type=email]:focus,
.hero .hero-inner input[type=password]:focus {
  border: 10px solid #fff;
  border-radius: 5px;
}
/* line 170, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero .hero-inner input[type=submit] {
  padding: 0.7em 1em;
  background: #226AA9;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  border: 3px solid #113554;
  border-radius: 5px;
  margin: 1em 0 1em 0;
}
/* line 181, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero .hero-inner input[type=submit]:hover {
  background: #fff;
  border: 3px solid #226AA9;
  color: #226AA9;
}
/* line 187, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero .hero-inner .hero-copy {
  text-align: center;
}
/* line 190, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero .hero-inner .hero-copy h1 {
  font-size: 4em;
  margin-bottom: 0.5em;
  font-family: "Archivo Black", sans-serif;
}
@media screen and (min-width: 53.75em) {
  /* line 190, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
  .hero .hero-inner .hero-copy h1 {
    font-size: 4.8em;
  }
}
/* line 200, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero .hero-inner .hero-copy h2 {
  font-size: 2.5em;
  font-family: "Archivo Black", sans-serif;
}
/* line 205, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero .hero-inner .hero-copy p {
  font-weight: 200;
  line-height: 1.4em;
  margin: 0 auto 3em auto;
}
@media screen and (min-width: 53.75em) {
  /* line 205, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
  .hero .hero-inner .hero-copy p {
    font-size: 1.1em;
    max-width: 40%;
  }
}
/* line 217, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero .hero-inner button {
  background-color: #115AAC;
  border-radius: 3px;
  border: 0;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  padding: 0.7em 1em;
}
/* line 354, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
.hero .hero-inner button:hover:not(:disabled) {
  background-color: #0f66c7;
  cursor: pointer;
}
/* line 365, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
.hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
  background-color: #124e92;
  cursor: pointer;
}
/* line 59, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
.hero .hero-inner button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 224, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.open311-data {
  text-align: center;
}

/* line 228, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
}

/* line 235, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.card {
  -webkit-flex-basis: 15em;
  -moz-flex-basis: 15em;
  flex-basis: 15em;
  -ms-flex-preferred-size: 15em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f6f6f6;
  border-radius: 5px;
  border: 1px solid gainsboro;
  box-shadow: 0 2px 4px #d8d8d8;
  cursor: pointer;
  margin: 0 1em 1.5em 1em;
  position: relative;
  max-width: 400px;
  display: inline-block;
}
/* line 268, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.card .card-image {
  overflow: hidden;
  max-height: 300px;
}
/* line 273, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.card .card-image img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #DBD199;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}
/* line 283, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.card .card-header {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f6f6f6;
  border-bottom: 1px solid gainsboro;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0.5em 0.75em;
}
/* line 293, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.card .card-copy {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0.75em 0.75em;
}
/* line 298, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.card .card-copy p {
  margin: 0 0 0.75em;
}
/* line 302, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.card .card-copy button {
  text-align: center;
  margin: 0 auto;
}
/* line 309, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.card:focus, .card:hover {
  background-color: white;
}
/* line 313, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.card:focus .card-image img, .card:hover .card-image img {
  background: #e2daac;
}
/* line 317, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.card:focus .card-header, .card:hover .card-header {
  background-color: white;
}
/* line 322, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.card:active {
  background-color: #f6f6f6;
}
/* line 325, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.card:active .card-header {
  background-color: #f6f6f6;
}

/* line 331, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.ribbon-box {
  height: 400px;
  width: 400px;
  border: 1px solid #bbb;
  position: relative;
}

/* line 337, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.ribbon-wrapper {
  height: 85px;
  width: 85px;
  overflow: hidden;
  position: absolute;
  right: -1px;
  top: -1px;
}
/* line 348, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.ribbon-wrapper .ribbon {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #477dca;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 0.8em;
  font-weight: 800;
  left: -5px;
  line-height: 1.5em;
  padding: 2px 7px;
  position: relative;
  text-align: center;
  top: 15px;
  width: 120px;
}

/* line 365, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
button {
  font-size: 1.25em;
  border-radius: 10%;
  color: #fff;
  background-color: #4294f0;
  border-radius: 3px;
  border: 0;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  padding: 0.7em 1em;
}
/* line 354, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
button:hover:not(:disabled) {
  background-color: #56a1f5;
  cursor: pointer;
}
/* line 365, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
button:active:not(:disabled), button:focus:not(:disabled) {
  background-color: #2f87ea;
  cursor: pointer;
}
/* line 59, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 373, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#get-in-touch {
  float: left;
  margin: 0 1em 0.5em 1em;
  background-color: #CA1F2C;
}

/* line 379, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#get-in-touch:hover {
  background-color: #fff;
  color: #CA1F2C;
  border: 2px solid #CA1F2C;
}

/* line 385, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#track-request {
  float: right;
  margin: 0 1em 0.5em 1em;
  background-color: #226AA9;
}

/* line 391, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#track-request:hover {
  background-color: #fff;
  color: #226AA9;
  border: 2px solid #226AA9;
}

/* line 397, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#tracked {
  float: right;
  background-color: #fff;
  color: #226AA9;
  border: 2px solid #226AA9;
}

/* line 406, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.address-tools {
  width: 100%;
  color: #fff;
  font-size: 2em;
  text-align: center;
}
/* line 413, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.address-tools h3 {
  font-family: "Archivo Black", sans-serif;
  color: #FACF08;
  padding-bottom: 1em;
  margin-bottom: 0;
}
/* line 418, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.address-tools h3 a {
  text-decoration: none;
  color: #FACF08;
}
/* line 423, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.address-tools h3 a:visited {
  color: #FACF08;
}

/* line 434, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.list-centered {
  list-style: none;
  padding: 1em;
  margin-bottom: 0;
}
/* line 439, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.list-centered ul {
  width: 100%;
  margin: 0 auto;
}
/* line 444, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.list-centered a {
  text-decoration: none;
  color: #fff;
}
/* line 449, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.list-centered a:visited {
  color: #fff;
}
/* line 453, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.list-centered li {
  display: inline-block;
  margin: 0 1em 1em 0;
}

/* line 462, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
footer {
  font-size: 1em;
  color: #fff;
  text-align: right;
  padding: 0.5em 1.5em 0.5em 0;
  background: #194f7f;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* line 473, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
footer a {
  text-decoration: none;
}
/* line 477, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
footer a:hover {
  color: #CA1F2C;
}
/* line 481, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
footer a:visited {
  color: #fff;
}

/* line 488, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container {
  background: url("flickr_user_fordan_skyline.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: "Droid Sans", sans-serif;
}
/* line 497, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container ul {
  list-style: none;
  padding-left: 0;
}
/* line 502, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container li {
  font-size: 1.5em;
}
/* line 506, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container li a:hover {
  color: #549ddd;
}
/* line 510, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container h2 {
  font-family: "Archivo Black", sans-serif;
  font-size: 2.75em;
  color: #FACF08;
}
/* line 516, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container div {
  background-color: rgba(0, 0, 0, 0.85);
  padding-bottom: 5em;
}
/* line 521, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container .notes {
  border: 2px solid #FACF08;
  width: 45%;
  margin: 1em auto;
  color: #fff;
  background-color: #333;
  padding: 1em 1em 1.5em 1em;
}
/* line 529, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container .notes p {
  text-align: left;
  font-size: 1.25em;
  margin: 1em;
}
/* line 535, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container .notes #untrack {
  background-color: #CA1F2C;
  margin-left: 1em;
}
/* line 540, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container .notes #untrack:hover {
  background-color: #fff;
  border: 2px solid #CA1F2C;
}
/* line 545, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container .notes #untrack a:hover {
  color: #CA1F2C;
}
/* line 549, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container .notes #update-note {
  background-color: #226AA9;
  margin-right: 1em;
}
/* line 554, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container .notes #update-note:hover {
  background-color: #fff;
  border: 2px solid #226AA9;
}
/* line 559, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container .notes #update-note a:hover {
  color: #226AA9;
}
/* line 565, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.request-container a,
.request-container a:visited {
  text-decoration: none;
  color: #fff;
}

/* line 577, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.edit_request textarea {
  width: 100%;
  background-color: #333;
  padding: 1em;
}

/* line 584, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.address-container {
  text-align: center;
}
/* line 587, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.address-container h1 {
  font-size: 5em;
}
/* line 591, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.address-container h2 {
  font-size: 3em;
  color: #fdfdfd;
}
/* line 596, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.address-container ul {
  list-style-type: none;
  padding-left: 0;
}
/* line 601, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.address-container a,
.address-container a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
}
/* line 608, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.address-container li:hover {
  color: #CA1F2C;
  font-size: 1.5em;
}

/* line 616, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#new-address {
  background-color: #CA1F2C;
  border-radius: 3px;
  border: 0;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  padding: 0.7em 1em;
  margin: 1em;
}
/* line 354, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
#new-address:hover:not(:disabled) {
  background-color: #e3202f;
  cursor: pointer;
}
/* line 365, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
#new-address:active:not(:disabled), #new-address:focus:not(:disabled) {
  background-color: #b0202b;
  cursor: pointer;
}
/* line 59, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
#new-address:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 621, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#new-address a,
#new-address a:visited {
  text-decoration: none;
  color: #fff;
}

/* line 628, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#new-address:hover {
  background-color: #fff;
  border-radius: 3px;
  border: 0;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 3px;
  border: 0;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  padding: 0.7em 1em;
}
/* line 354, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
#new-address:hover:hover:not(:disabled) {
  background-color: white;
  cursor: pointer;
}
/* line 365, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
#new-address:hover:active:not(:disabled), #new-address:hover:focus:not(:disabled) {
  background-color: #f2f2f2;
  cursor: pointer;
}
/* line 354, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
#new-address:hover:hover:not(:disabled) {
  background-color: white;
  cursor: pointer;
}
/* line 365, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
#new-address:hover:active:not(:disabled), #new-address:hover:focus:not(:disabled) {
  background-color: #f2f2f2;
  cursor: pointer;
}
/* line 59, /Users/Nabil/.rvm/gems/ruby-2.2.0/gems/bourbon-4.2.3/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
#new-address:hover:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 632, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#new-address:hover a,
#new-address:hover a:visited {
  color: #CA1F2C;
  border: 3px solid #fff;
}

/* line 639, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hidden-service-id {
  display: none;
}

/* line 645, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.specific-request img {
  border: 8px solid #fff;
  border-radius: 5px;
}

/* line 652, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#request-update-note a,
#request-untrack a,
#request-update-note a:visited,
#request-untrack a:visited {
  text-decoration: none;
  color: #fff;
}

/* line 660, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#request-update-note button {
  background-color: #226AA9;
}

/* line 665, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#request-update-note button:hover {
  border: 2px solid #226AA9;
  background-color: #549ddd;
}

/* line 670, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#request-update-note a:hover {
  background-color: #549ddd;
}

/* line 674, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#request-untrack button {
  background-color: #CA1F2C;
}

/* line 678, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#request-untrack button:hover {
  border: 2px solid #CA1F2C;
  background-color: #e86771;
}

/* line 683, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
#request-untrack a:hover {
  background-color: #e86771;
}

/* line 687, /Users/Nabil/ga/apps/phillyhousing/app/assets/stylesheets/addresses.scss */
.hero .hero-request {
  padding-top: 2em;
  font-size: 2em;
}
