<div class="request-container">
  <div>
    <h2>Your saved requests</h2>
    <ul>
      <% @requests.each do |request| %> 
        <li><%= link_to "Request ID: #{request.service_id}", user_request_path( current_user, request ) %></li>
        <div class="notes">
          <p>Notes: <%= request.notes %></p>
        <button id="update-note"><%= link_to "Update note", edit_user_request_path( current_user, request )%></button>
        <button id="untrack"><%= link_to "Untrack", user_request_path( current_user, request), method: :delete %></button>
        </div>
      <% end %> 
    </ul>
  </div>
</div>