<div class="hero">
  <div class="hero-inner">
    <!-- <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a> -->
    <div class="hero-copy">
      <h2><%= @welcome_message %></h2>  
    </div>
    <%= render 'address_form' %> 
  </div>
</div>
