<h1><%= @address.street_address %></h1>
<h2>Property information</h2>
<h2>Crime information</h2>
<h3>Your notes</h3>
<!-- Link to edit -->
<p><%= link_to "Edit this address", edit_user_address_path( current_user, @address)%></p>
<!-- Link to destroy -->
<p><%= link_to "Delete this address", user_address_path( current_user, @address), method: :delete %></p>
