// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Theme colors 
$phillies-red: #CA1F2C;
$phillies-blue: #226AA9;
$phl-flag-yellow: #FACF08;

// Fonts 
$header-font-stack: 'Archivo Black', sans-serif;
$main-font-stack: 'Droid Sans', sans-serif;

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    font-family: $main-font-stack;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include background(linear-gradient($phillies-blue, lighten($phillies-blue, 20%)) left no-repeat);
}

.show-container {
  @include background(linear-gradient($phillies-blue, lighten($phillies-blue, 20%)) left no-repeat);
}

header{
  text-align: center;
  color: #fff;
  font-family: $header-font-stack
}

h1 {

  font-size: 3em;

  a{
    text-decoration: none;
    color: #fff;
  }

  a:visited{
    text-decoration: none;
    color: #fff;
  }
}

$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  margin-top: 1em;
  padding: 10em 0 50em 0;
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  h1 {
    font-size: 5em;
    margin: 0;
    background-color: rgba(239, 0, 0, 0.75);
    font-family: $header-font-stack 
  }

  
}

.parallax-static-content {
  // color: #9A9A8A;
  color: #fff;
  // padding: 8em 0;
  padding: 8em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("city_hall.jpg") repeat;
  background-position: top;
  // background-position: 50% 50%;
  // height: 100%;
  // min-height: 100%;
  background-size: cover;
  background-color: $phillies-blue;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/

// body{
//   @include background(linear-gradient($phillies-blue, lighten($phillies-blue, 20%)) left no-repeat);

// }

h2{
    margin-top: 0;
    padding-top: 1em;
    text-align: center;
    font-size: 3em;
    color: #fff;
  }

.hero {  
  $base-border-radius: 3px !default;
  // $action-color: #477DCA !default;
  $action-color: #115AAC !default;
  $large-screen: em(860) !default;
  // $hero-background-top: #7F99BE; 
  $hero-background-top: #000; 
  // $hero-background-bottom: #20392B;
  $hero-background-bottom: #000;
  $hero-color: white;
  font-size: 1.5em;
  $gradient-angle: 10deg;
  $hero-image: "city_hall.jpg";

  // @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  @include background(linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url($hero-image));
  background-color: #324766;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-size: 100% 100%;
  padding-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 5em 10em 10em 10em;
    text-align: center;

    label {
      font-size: 1.5em;
    }
    input[type="text"] {
      background-color: darken($phillies-blue, 20%);
      border: 3px solid darken($phillies-blue, 40%);
      border-radius: 5px;
      font-size: 1.5em;
      padding: 1em;
      color: #fff;
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    input[type=email]:focus,
    input[type=password]:focus {
      border: 10px solid #fff;
      border-radius: 5px;
    }

    input[type=submit] {
      padding: 0.7em 1em;
      background: $phillies-blue;
      color: #fff;
      font-size: 1em;
      font-weight: 500;
      border: 3px solid darken($phillies-blue, 20%);
      border-radius: 5px;
      margin: 1em 0 1em 0;
    }

    input[type=submit]:hover{
      background: #fff;
      border: 3px solid $phillies-blue;
      color: $phillies-blue;
    }

    .hero-copy {
      text-align: center;
      
      h1 {
        font-size: 4em;
        margin-bottom: 0.5em;
        font-family: $header-font-stack;

        @include media($large-screen) {
          font-size: 4.8em;
        }
      }

      h2 {
        font-size: 2.5em;
        font-family: $header-font-stack
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }

    button {
      @include button(flat, $action-color);
      padding: 0.7em 1em;
    }
  }
}

.open311-data{
  text-align: center;
}

.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(flex-start);
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 5px !default;
  // $base-background-color: white !default;
  $base-background-color: #f2f2f2 !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5%);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5%);
  $card-margin: 1em;

  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  max-width: 400px;
  // height: 400px;
  display: inline-block;

  .card-image {
    overflow: hidden;
    // max-height: 150px;
    max-height: 300px;

    img {
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
      // max-width: 150px;
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }

    button {
      text-align: center;
      margin: 0 auto;
    }

  }
  
  &:focus,
  &:hover {
    background-color: $card-hover-background;
    
    .card-image img {
      background: $card-image-hover-background;
    }
  
    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

.ribbon-box {
  @include size(400px);
  border: 1px solid #bbb;
  position: relative;
}

.ribbon-wrapper {
  $action-color: #477dca !default;
  $ribbon-background: $action-color;
  $ribbon-size: 85px;

  @include size($ribbon-size);
  overflow: hidden;
  position: absolute;
  right: -1px;
  top: -1px;

  .ribbon {
    @include transform(rotate(45deg));
    background-color: $ribbon-background;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 0.8em;
    font-weight: 800;
    left: -5px;
    line-height: 1.5em;
    padding: 2px 7px;
    position: relative;
    text-align: center;
    top: 15px;
    width: 120px;
  }
}

button{
  font-size: 1.25em;
  border-radius: 10%;
  color: #fff;
   @include button(flat);
      padding: 0.7em 1em
}

#get-in-touch{
  float: left;
  margin: 0 1em 0.5em 1em;
  background-color: $phillies-red;
}

#get-in-touch:hover{
  background-color: #fff;
  color: $phillies-red;
  border: 2px solid $phillies-red;
}

#track-request {
  float: right;
  margin: 0 1em 0.5em 1em;
  background-color: $phillies-blue;
}

#track-request:hover {
  background-color: #fff;
  color: $phillies-blue;
  border: 2px solid $phillies-blue;
}

#tracked {
  float: right;
  background-color: #fff;
  color: $phillies-blue;
  border: 2px solid $phillies-blue;
}

// Edit and delete address actions

.address-tools {
  width: 100%;
  color: #fff;
  font-size: 2em;
  text-align: center;
  // margin-bottom: 2em;

  h3 {

    font-family: $header-font-stack;
    color: $phl-flag-yellow;

    a{
      text-decoration: none;
      color: $phl-flag-yellow;
    }

    a:visited{
      color: $phl-flag-yellow;
    }

    padding-bottom: 1em;
    margin-bottom: 0;

  }

}

.list-centered {
    list-style: none;
    padding: 1em;
    margin-bottom: 0;

    ul{
      width: 100%;
      margin: 0 auto;
    }

    a{
      text-decoration: none;
      color: #fff;
    }

    a:visited{
      color: #fff;
    }

    li {
        display: inline-block;
        margin: 0 1em 1em 0;
    }

}

// Footer

footer {

  font-size: 1em;
  color: #fff; 
  text-align: right;
  padding: 0.5em 1.5em 0.5em 0;
  background: darken($phillies-blue, 10%);
  position: fixed;
  bottom: 0;
  width: 100%;

  a{
    text-decoration: none;
  }

  a:hover{
    color: $phillies-red;
  }

  a:visited{
    color: #fff;
  }


}

.request-container {
  background: url("flickr_user_fordan_skyline.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: $main-font-stack;

  ul {
    list-style: none;
    padding-left: 0;
  } 

  li {
      font-size: 1.5em;
    }

  li a:hover {
    color: lighten($phillies-blue, 20%);
  }

  h2 {
    font-family: $header-font-stack;
    font-size: 2.75em;
    color: $phl-flag-yellow;
  }

  div {
    background-color: rgba(0, 0, 0, 0.85);
    padding-bottom: 5em;
  }

  .notes {
    border: 2px solid $phl-flag-yellow;
    width: 45%;
    margin: 1em auto;
    color: #fff;
    background-color: #333;
    padding: 1em 1em 1.5em 1em;

    p {
      text-align: left;
      font-size: 1.25em;
      margin: 1em;
    }

    #untrack {
      background-color: $phillies-red;
      margin-left: 1em;
    }

    #untrack:hover {
      background-color: #fff;
      border: 2px solid $phillies-red;
    }

    #untrack a:hover{
      color: $phillies-red;
    }

    #update-note {
      background-color: $phillies-blue;
      margin-right: 1em;
    }

    #update-note:hover {
      background-color: #fff;
      border: 2px solid $phillies-blue;
    }

    #update-note a:hover {
      color: $phillies-blue;
    }

  }

  a,
  a:visited {
    text-decoration: none;
    // font-size: 1.5em;
    color: #fff;
  }


}

.edit_request {

  textarea {
    width: 100%;
    background-color: #333;
    padding: 1em;
  }
}

.address-container {
  text-align: center;

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3em;
    color: #fdfdfd;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  a,
  a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
  }

  li:hover {
    color: $phillies-red;
    font-size: 1.5em;
  }

}

// New address button 
#new-address {
  @include button(flat, $phillies-red);
  padding: 0.7em 1em;
  margin: 1em;

  a,
  a:visited {
    text-decoration: none;
    color: #fff;
  }
}

#new-address:hover {
  @include button(flat, #fff);
  padding: 0.7em 1em;

  a,
  a:visited {
    color: $phillies-red;
    border: 3px solid #fff;
  }
}

.hidden-service-id {
  display: none;
}

.specific-request {

  img {
    border: 8px solid #fff;
    border-radius: 5px; 
  }

}

#request-update-note a,
#request-untrack a,
#request-update-note a:visited,
#request-untrack a:visited {
  text-decoration: none;
  color: #fff;
}

#request-update-note button {
  background-color: $phillies-blue;
}


#request-update-note button:hover {
  border: 2px solid $phillies-blue;
  background-color: lighten($phillies-blue, 20%);
}

#request-update-note a:hover {
  background-color: lighten($phillies-blue, 20%);
}

#request-untrack button {
  background-color: $phillies-red;
}

#request-untrack button:hover {
  border: 2px solid $phillies-red;
  background-color: lighten($phillies-red, 20%);
}

#request-untrack a:hover {
  background-color: lighten($phillies-red, 20%);
}

.hero .hero-request {
  padding-top: 2em;
  font-size: 2em;
}
